<div class="bg">
  <header class="header">
    <div class="container">
      <div class="header__inner">
        <div class="header__logoo"></div>
        <nav class="nav">
          <a class="nav__link" href="#about">о нас</a>
          <a class="nav__link" href="#achievement">достижения</a>
          <a class="nav__link" href="#shcedule">расписание</a>
          <a class="nav__link" href="#team">тренеры</a>
          <a class="nav__link" href="#why">почему мы</a>
          <a class="nav__link" href="#photos">фотографии</a>
          <a class="nav__link" href="#contacts">контакты</a>
        </nav>
      </div>
    </div>
  </header>

  <div class="intro">
    <div class="container">
      <div class="intro__inner">
        <h1 class="intro__tittle">"Royal Astana" <br/> <span class="suptitle">детско-юношеский футбольный клуб</span></h1>

        <a class="btn" href="https://wa.me/+77477888023?text=Здравствуйте,%20хотели%20записаться%20на%20пробные%20тренировки.">записаться на бесплатную тренировку</a>
      </div>
    </div>
  </div>
  <section class="section">
    <div class="container">
      <div class="section__header" id="about">
        <h3 class="section__suptitle"></h3>
        <div class="section__title">Royal Astana - это футбольная школа для детей от 5 до 14 лет.</div>
        <div class="section__text">
            Мы создали ребенку условия для полного погружения в мир профессиональных тренировок.
            Лицензированные тренера, специализированное поле, интересные и разнообразные тренировки в игровой форме.
            Тренера школы имеют опыт работы с детьми, внимательны, следят за техникой выполнения упражнений, если что-то не понятно подсказывают и объясняют.
            Перед занятием, с детьми обязательно делают разминающие упражнения. Учебный процесс построен таким образом, чтобы ребенок с удовольствием посещал тренировки.
            У нас тренируются все, кто любит футбол.
        </div>
      </div>
    </div>
  </section>

  <div class="advantage" id="achievement">
    <div class="container">
      <h2 class="advantage__header">
        преимущества
      </h2>
      <div class="advantage__four">
        <div class="advantage__item">
          <img src="https://static.tildacdn.com/tild3436-3435-4138-a432-363762343639/uefa.svg" alt="" class="advantage__icon">
          <div class="advantage__text">
            Тренеры с лицензией UEFA
          </div>
        </div>
        <div class="advantage__item">
          <img src="https://static.tildacdn.com/tild3837-3062-4535-b565-393633316463/weather.svg" alt="" class="advantage__icon">
          <div class="advantage__text">
            Занятия проводятся круглый год
          </div>
        </div>
        <div class="advantage__item">
          <img src="https://static.tildacdn.com/tild3263-3963-4230-a533-646232633036/group.svg" alt="" class="advantage__icon">
          <div class="advantage__text">
            Группы по возрастам,<br/>
            занятия проходят в игровой форме
          </div>
        </div>
        <div class="advantage__item">
          <img src="https://static.tildacdn.com/tild6234-3738-4461-a164-326564396532/open.svg" alt="" class="advantage__icon">
          <div class="advantage__text">
            Тренировки открыты для родителей
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="schedule" id="shcedule">
    <div class="container">
      <h2 class="schedule__header">
        Расписание тренировок
      </h2>
      <div class="branch">
        <div class="abonement">
          <div class="width">
            <div class="a__title">
              Нур-Султан
            </div>
            <div class="a__suptitle">
              Royal Kids  <br/> 2 раза в неделю
            </div>
            <div class="a__price">
              15 000 ₸
            </div>
            <div class="a__schedule">
              Набор в группы:<br/> <span class="age">от 4 до 7 лет</span> <br/>
              СБ, ВС: 11:00-12:30
            </div>
            <div class="address">
              <span class="fat">Адрес:</span> ул. Туркистан 2/1
            </div>
            <a class="a__btn" href="tel:+77477888023  ">записаться</a>
          </div>
        </div>
        <div class="abonement">
          <div class="width">
            <div class="a__title">
              Нур-Султан
            </div>
            <div class="a__suptitle">
              Royal Juniors
            </div>
            <div class="a__price">
              <div class="price__abo">
                2 раза в неделю:<br/>15 000 ₸ <br/>
                3 раза в неделю:<br/>17 000 ₸ <br/>
                5 раз в неделю:<br/>25 000 ₸
              </div>
            </div>
            <div class="a__schedule">
              Набор в группы:<br/> <span class="age">от 8 до 12 лет</span> <br/>
              ПН, СР, ПТ: 10:30-12:00<br/>
              СБ, ВС: 11:00-12:30
            </div>
            <div class="address">
              <span class="fat">Адрес:</span> ул. Туркистан 2/1
            </div>
            <a class="a__btn" href="tel:+77477888023">записаться</a>
          </div>
        </div>
        <div class="abonement">
          <div class="width">
            <div class="a__title">
              Нур-Султан
            </div>
            <div class="a__suptitle">
              Royal Teens<br/> 3 раза в неделю
            </div>
            <div class="a__price">
              17 000 ₸
            </div>
            <div class="a__schedule">
              Набор в группы:<br/> <span class="age">от 8 до 12 лет</span> <br/>
              ПН, СР, ПТ: 09:00-10:30
            </div>
            <div class="address">
              <span class="fat">Адрес:</span> ул. Туркистан 2/1
            </div>
            <a class="a__btn" href="tel:+77477888023">записаться</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="photos" id="photos">
    <h2 class="photos_header">фотографии тренировок</h2>
    <div class="photo">
      <div class="photo__item">
        <img class="jpeg" src="assets/img-03.jpeg" alt="">
      </div>
      <div class="photo__item">
        <img class="jpeg" src="assets/img-04.jpeg" alt="">
      </div>
      <div class="photo__item">
        <img class="jpeg" src="assets/img-05.jpeg" alt="">
      </div>
      <div class="photo__item">
        <img class="jpeg" src="assets/img-06.jpeg" alt="">
      </div>
      <div class="photo__item">
        <img class="jpeg" src="assets/img-07.jpeg" alt="">
      </div>
      <div class="photo__item">
        <img class="jpeg" src="assets/img-08.jpeg" alt="">
      </div>
      <div class="photo__item">
        <img class="jpeg" src="assets/img-09.jpeg" alt="">
      </div>
      <div class="photo__item">
        <img class="jpeg" src="assets/img-10.jpeg" alt="">
      </div>
    </div>
  </div>

  <div class="team" id="team">
    <div class="container">
      <h2 class="team__header">наша команда</h2>
      <div class="team__inner">
        <div class="team__item">
          <img class="team__photo" src="assets/coach.jpg" alt="">
          <div class="team__name">Кожабеков Айхан</div>
          <div class="team__prof">Тренер</div>
          <div class="team__text">
            <ul class="prof__career">
              Профессиональная карьера:
              <li>Воспитанник ФК Астана</li>
              <li>ФК "Астана" (U-21) (2015)</li>
              <li>ФК "Байтерек" (2016)</li>
              <li>Закончил обучение в центре ФК "Астана"</li>
              <li>Участник групповой стадии ЛЧ UEFA (U-19)</li>
            </ul>
            <ul class="prof__career">
              Личные достижения:
              <li>Вице чемпион Первенства РК<br/>среди юношей 1996 г.р.</li>
              <li>Чемпион Студенческой Лиги РК</li>
              <li>Чемпион Универсиады РК</li>
              <li>Призер Международных и Республиканских турниров</li>
            </ul>
          </div>
          <div class="team__social"></div>
        </div>
        <div class="team__item">
          <img class="team__photo" src="assets/coach.jpg" alt="">
          <div class="team__name">Табигат Жоламан</div>
          <div class="team__prof">Тренер</div>
          <div class="team__text">
            <ul class="prof__career">
              Профессиональная карьера:
              <li>ФК "Женис" (2005-2009 г)</li>
              <li>ФК "Наша Компания" (2008-2012 г)</li>
              <li>"СДЮСШОР №8" (2011-2014 г)</li>
              <li>ФК "Астана" (2009-2015 г)</li>
              <li>ФК "Окжетпес" (2015)</li>
            </ul>
            <ul class="prof__career">
              Личные достижения:
              <li>Вице чемпион Первенства РК<br/>среди юношей 1996 г.р.</li>
              <li>Чемпион Студенческой Лиги РК</li>
              <li>Чемпион городы Астаны</li>
              <li>Чемпион Международных<br/>турниров среди Казахстанких клубов</li>
            </ul>
          </div>
          <div class="team__social"></div>
        </div>
        <div class="team__item">
          <img class="team__photo" src="assets/coach.jpg" alt="">
          <div class="team__name">Еркен Аслан</div>
          <div class="team__prof">Тренер</div>
          <div class="team__text">
            <ul class="prof__career">
              Профессиональная карьера:
              <li>ФК "Байтерек" (2014-2016)</li>
              <li>ФК "Астана" (2015)</li>
              <li>ФК "Экибастуз" (2017-2019)</li>
            </ul>
            <ul class="prof__career">
              Личные достижения:
              <li>Один из лучших бомбардиров в истории<br/>ФК "Экибастуз"</li>
            </ul>
            <ul class="prof__career">
              Образование:
              <li>Высшее: ЕНУ; Факультет: Физическая<br/>культура и спорт</li>
            </ul>
          </div>
          <div class="team__social"></div>
        </div>
        <div class="team__item">
          <img class="team__photo" src="assets/coach.jpg" alt="">
          <div class="team__name">Сарсен Едiл</div>
          <div class="team__prof">Менеджер</div>
          <div class="team__text">
            <img class="man" src="assets/man.png" alt="">
          </div>
        </div>
        <div class="team__item">
          <img class="team__photo" src="assets/coach.jpg" alt="">
          <div class="team__name">Берсембаев Айзат</div>
          <div class="team__prof">Тренер</div>
          <div class="team__text">
            <ul class="prof__career">
              Профессиональная карьера:
              <li>Воспитанник ФК Астана</li>
            </ul>
            <ul class="prof__career">
              Личные достижения:
              <li>Вице чемпион Первенства РК<br/>среди юношей 1996 г.р.</li>
              <li>Призер Международных и Республиканских турниров</li>
            </ul>
          </div>
          <div class="team__social"></div>
        </div>
        <div class="team__item">
          <img class="team__photo" src="assets/coach.jpg" alt="">
          <div class="team__name">Жарылкапулы Абай</div>
          <div class="team__prof">Фотограф</div>
          <div class="team__text">
            <img class="man" src="assets/tourist.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="about">
    <div class="container">
      <div class="about__header">
        <div class="header__logoo"></div>
        <h2 class="title">Royal Astana<br/>
          <span class="suptitle">
            детско-юношеский футбольный клуб
          </span>
        </h2>
      </div>
      <div class="list">
        <ul class="prof__career"> Достижения нашей команды:
          <li>Чемпионы Республиканского турнира "Кубок Регионов - 2019"</li>
          <li>Чемпионы турнира "Cash - 2019"</li>
          <li>Чемпионы турнира "Кубок Alga - 2019"</li>
          <li>Чемпионы Республиканского турнира ко дню "Первого Президента РК - 2019"</li>
          <li>Вице-чемпионы турнира "Своя Лига - Зима 2019"</li>
          <li>Вице-чемпионы турнира "Своя Лига - Весна 2019" среди 2003/2004 г.р.</li>
          <li>Вице-чемпионы турнира "Своя Лига - Весна 2019" среди 2005/2006 г.р.</li>
          <li>Вице-чемпионы кубка "Своя Лига 2019"</li>
          <li>Вице-чемпионы Республиканского турнира в г.Степногорск</li>
          <li>Бронзовый призер турнира "LLF-Junior - 2020"</li>
          <li>Бронзовый призер турнира "LLF-Junior - Осень 2019"</li>
          <li>Бронзовый призер турнира "LLF-Junior - 2018"</li>
          <li>Участники международного турнира в г.Зеренда (2019 ВЕСНА)</li>
          <li>Городской турнир "Everest cup 2018"</li>
          <li>Республиканский турнира кубок "Astana Junior - 2018"</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="history">
    <div class="container">
      <div class="history__header">
        <div class="header__logoo"></div>
        <h2 class="title">Royal Astana<br/>
          <span class="suptitle">
            История нашей команды
          </span>
        </h2>
      </div>
      <div class="list">
        <div class="text">
          Клуб основан в мае 2018 года.<br/> С тех пор обучение в клубе прошли более
          600 детей от 5 до 16 лет. В данный момент имеют 4 филиала в городе Нур-Султан,<br/>
          где трудятся 5 профессиональных тренеров.<br/>
          Главной задачей клуба является обучение и подготовка футболистов<br/>
          для ведущих клубов и академии Республики Казахстан.<br/>
          В данный момент подписан меморандум с ФК "Астана", ФК "Окжетпес", <br/>
          Академии "Алаш РКС"<br/>
          Наши воспитанники ежегодно проходят отбор в ведущие клубы и академии РК.<br/>
          В данный момент в футбольном центре "Астана" играют 10 наших воспитанников,<br/>
          в футбольном центре "Окжетпес" 3 наших воспитанника, также в Академии "Алаш РКС"<br/>
          были направлены 2 наших воспитанника.<br/>
          Наши футболисты проходят ежегодный учебно-тренировочный сбор 2 раза год,<br/>
          а также постоянные участники Международных,<br/>
          Республиканских и городских турниров.<br/>
          Многократные чемпионы и призеры различных турниров.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="frame-maps">
  <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A56280f0b1b33b642a6fe94eaf206f8dbe52922447f2caeb12561eb286090c6a4&amp;source=constructor" width="100%" height="620" frameborder="0" style="z-index:1; pointer-events: none"></iframe>
</div>
<div class="contact-box" data-aos="fade-right" data-aos-duration="1600">
  <p class="contact-box-title"><i style="padding: 0 15px 0 0;"><img src="assets/icons/right-cursor.png"></i>{{'Контакты'}}</p>
  <div class="contact-box-content">
    <div>Филиал: СШ №21 8-707-445 47 44</div><br/>
    <div>Филиал: СШ №87 8-707-708 44 19</div><br/>
    <div>Филиал: РФМШ 8-702-788 20 83</div>
  </div>
</div>

<div class="end">
  <div class="container">
    <div class="logo">
      <div class="header__logoo"></div>
    </div>
    <div class="last">
      <p>FC Royal Club © Все права защищены.</p>
    </div>
  </div>
</div>
